<h1>Listing ideas</h1>

<dl>
<% @ideas.each do |idea| %>
  <dt><%= link_to idea.name, idea %> <i class="icon-pencil"></i><%= link_to 'Edit', edit_idea_path(idea), class: 'visuallyhidden' %> <i class="icon-trash"></i><%= link_to 'Destroy', idea, confirm: 'Are you sure?', method: :delete %></dt>
  <dd><%= idea.description %></dd>
<% end %>
</dl>
<%= link_to 'New Idea', new_idea_path %>

